<h1>Listing boys</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @boys.each do |boy| %>
  <tr>
    <td><%= boy.name %></td>
    <td><%= link_to 'Show', boy %></td>
    <td><%= link_to 'Edit', edit_boy_path(boy) %></td>
    <td><%= link_to 'Destroy', boy, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Boy', new_boy_path %>
